<!DOCTYPE html>
<html lang="ja">
<head>
    <!-- ヘッドの内容 -->
</head>
<body class="bg-gray-200 font-sans leading-normal tracking-normal">

    <div class="container mx-auto mt-8 text-gray-600 px-5">
        <h1 class="text-3xl font-bold mb-4 text-gray-700">投稿を編集</h1>
        <%= render 'form', post: @post %>
    </div>

</body>
</html>

<script>
    document.addEventListener("turbo:load", function() {
        // 投稿画像のプレビュー表示機能
        const imageInput = document.querySelector('#post_image');
        const imagePreview = document.getElementById('image-preview');

        imageInput.addEventListener('change', function(event) {
            const file = event.target.files[0];
            if (file) {
                const reader = new FileReader();

                reader.onload = function(e) {
                    imagePreview.innerHTML = ''; // Clear the existing preview
                    const img = document.createElement('img');
                    img.src = e.target.result;
                    img.classList.add('rounded-lg', 'max-w-full', 'h-auto');
                    imagePreview.appendChild(img); // Append the new image
                };

                reader.readAsDataURL(file);
            }
        });
    });
</script>
