<!DOCTYPE html>
<html lang="ja">
<head>
    <!-- ヘッドの内容 -->
</head>
<body class="bg-gray-200 font-sans leading-normal tracking-normal">

    <%= render 'layouts/header' %>
    <%= render 'layouts/sidebar' %>

    <div class="container mx-auto mt-8 text-gray-600 px-5">
        <h1 class="text-3xl font-bold mb-4 text-gray-700">投稿を編集</h1>
        <%= render 'form', post: @post %>
    </div>
    

    <%= render 'layouts/footer' %>

</body>
</html>

