@tailwind base;
@tailwind components;
@tailwind utilities;
.custom-btn-bg {
    @apply bg-blue-500 text-white;
  }
  
.tile-image {
  width: 46px;
  height: 66px;
}

@media (min-width: 580px) {
  .tile-image {
      width: 64px;
      height: 90px;
  }
}

.error-message {
  color: red;
}
