<div class="w-full m-0 p-0 bg-cover bg-bottom" style="background-image:url('cover.jpg'); height: 55vh; max-height:460px;">

        <div class="container max-w-4xl mx-auto pt-16 md:pt-32 text-center break-normal">
            <p class="text-gray-700 font-extrabold text-3xl md:text-5xl">
                なにきる<br>〜麻雀何切る相談所〜
            </p>
    </div>
</div>