<div class="" style="background-image:url('/pai1.webp'); height: 30vh; max-height:200px; background-size: cover;">
    <div class="container mx-auto pt-16 text-center break-normal z-0 relative" style="max-width: 100%;">
        <%= link_to 'なにきる', root_path, class: 'text-gray-900 font-extrabold text-4xl sm:text-5xl mt-7' %><br>
        <%= link_to '〜麻雀何切る相談所〜', root_path, class: 'text-gray-900 font-extrabold text-2xl sm:text-3xl mt-3' %>
    </div>
</div>
